<footer class="main-footer">
    <div class="bg-primary text-white">
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6>About</h6>
                        <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <p>eAuctionsindia.com The objective is to fill the gap, carry out the process of buying non-performing assets properties without issues, and build a communication channel between the buyer and the bank for better comprehension and mutually beneficial outcomes.</p>
                    </div>
                    <div class="col-lg-4  col-md-4 col-sm-12">
                        <h6>Our Quick Links</h6>
                         <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            
                            <li><a href="/contactus">Contact Us</a></li>
                            <li><a href="/aboutus">About</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="https://www.eauctionsindia.com/terms-conditions">Terms &amp; Conditions</a></li>
                            <li><a href="https://www.eauctionsindia.com/privacy-policy">Privacy &amp; Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6>Contact</h6>
                        <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="mailto::support@eauctionsindia.com"><i class="fa fa-envelope me-3 text-primary"></i>support@eauctionsindia.com</a></li>
                            <li>
                                <a href="/contactus"><i class="fa fa-phone me-3 text-primary"></i>Contact US</a>
                            </li>
                        </ul>
                        <ul class="list-unstyled list-inline mt-3">
                            <li class="list-inline-item">
                              <a target="_blank" href="https://www.facebook.com/eauctionsindiaofficial/" class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                <i class="fa fa-facebook bg-facebook"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a target="_blank" href="https://twitter.com/eauctionsindia1" class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                <i class="fa fa-twitter bg-info"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a target="_blank" href="https://www.instagram.com/eauctionsindiaofficial/" class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                <i class="fa fa-instagram bg-danger"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a target="_blank" href="https://www.linkedin.com/in/eauctionsindia/" class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                <i class="fa fa-linkedin bg-linkedin"></i>
                              </a>
                            </li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="bg-dark text-white p-0">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center ">
                        Copyright &copy; {{currentYear}} <b>E-Auctions India</b>All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>