<div class="header-main">
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                    <div class="top-bar-left d-flex">
                        <div class="clearfix" id="navbarSupportedContent">
                            <ul class="socials">	
                                <li>
                                    <a target="_blank" class="social-icon text-white" href="https://www.facebook.com/eauctionsindiaofficial/"><i class="fa fa-facebook text-white"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" class="social-icon text-white" href="https://twitter.com/eauctionsindia1"><i class="fa fa-twitter text-white"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" class="social-icon text-white" href="https://www.linkedin.com/in/eauctionsindia/"><i class="fa fa-linkedin text-white"></i></a>
                                </li>
                                <li>
                                    <a target="_blank" class="social-icon text-white" href="https://www.instagram.com/eauctionsindiaofficial/"><i class="fa fa-instagram text-white"></i></a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                    <div class="top-bar-right">
                        <ul class="custom">
                            <li>
                                <a href="https://www.eauctionsindia.com/register" class="text-white"><i class="fa fa-user me-1 text-white"></i> <span>Register</span></a>
                            </li>
                            <li>
                                <a href="https://www.eauctionsindia.com/login" class="text-white"><i class="fa fa-sign-in me-1 text-white"></i> <span>Login</span></a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Duplex Houses Header -->
    <div class="sticky" id="sticky-wrapper"> 
        <div class="horizontal-header clearfix ">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                    <span class="animated-arrow" ><span></span></span>
                </button>
                
                <span class="smllogo">
                    <a href="https://www.eauctionsindia.com">
                    <img src="https://www.eauctionsindia.com/storage/website/Eauction_India2.png" class="mobile-light-logo" width="120" title="E-Auctions India" alt="E-Auctions India">
                    <img src="https://www.eauctionsindia.com/storage/website/Eauction India7 (1).png" class="mobile-dark-logo" width="120" title="E-Auctions India" alt="E-Auctions India">
                    </a>
                </span>
            </div>
        </div>
    </div>
    <!-- /Duplex Houses Header -->

    <div class="offcanvas offcanvas-start" id="offcanvasExample">
        <div class="horizontal-mainwrapper container clearfix">
            <div class="desktoplogo">
                <a href="https://www.eauctionsindia.com">
                <img src="https://www.eauctionsindia.com/storage/website/Eauction India7 (1).png" title="E-Auctions India" width="250px" height="50px" alt="E-Auctions India">
                </a>
            </div>
            <div class="desktoplogo-1">
                <a href="https://www.eauctionsindia.com">
                    <img src="https://www.eauctionsindia.com/storage/website/Eauction India7 (1).png" title="E-Auctions India" width="250px" height="50px" alt="E-Auctions India">
                </a>
            </div>
            <!--Nav-->
            <nav class="horizontalMenu clearfix d-md-flex">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                <ul class="horizontalMenu-list">
                    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" >Home</a></li>
                    <li><a routerLinkActive="active" routerLink="/aboutus" >About Us </a></li>
                    <li><a routerLinkActive="active" routerLink="/propertylist" >Property List</a></li>
                    <li><a routerLinkActive="active" routerLink="/states" >States</a></li>
                    <li><a routerLinkActive="active" routerLink="/faq" >Faqs</a></li>
                    
                    <li><a routerLinkActive="active" routerLink="/blog" >Blog</a></li>
                    
                    <li><a routerLinkActive="active" routerLink="/contactus" > Contact Us <span class="hmarrow"></span></a></li>
                </ul>
                
            </nav>
            <!--Nav-->
        </div>
    </div>
</div>